<div *ngIf="loading === true">
  <p>loading</p>
</div>
<div *ngIf="loading === false">
  <header class="slds-page-header">
    <h2 class="slds-text-heading_medium slds-align_absolute-center">Edit Toggle</h2>
  </header>

  <div class="slds-grid slds-grid_vertical">
    <div class="slds-scrollable slds-grow">

      <div class="slds-form slds-form_vertical services">


        <div class="slds-form-element">
          <label class="slds-form-element__label slds-text-title_caps" for="input-unique-id">
            <abbr class="slds-required " title="required">*</abbr>Toggle Name
          </label>
          <div class="slds-form-element__control">
            <input type="text" id="input-unique-id" class="slds-input edit-input" [(ngModel)]=myToggle.name />
          </div>
        </div>


        <div class="slds-form-element">
          <label class="slds-form-element__label slds-text-title_caps" for="input-unique-id">
            <abbr class="slds-required " title="required">*</abbr>Toggle Value
          </label>
          <div class="slds-form-element__control">
            <label class="slds-checkbox_toggle slds-grid  slds-align_absolute-center">
              <input type="checkbox" name="checkbox" aria-describedby="toggle-desc" value="on" [(ngModel)]="myToggle.value" />
              <span id="toggle-desc" class="slds-checkbox_faux_container" aria-live="assertive">
                <span class="slds-checkbox_faux"></span>
              </span>
            </label>
          </div>
        </div>
        <div class="slds-form-element">
          <label class="slds-form-element__label slds-text-title_caps" for="input-unique-id">
            <abbr class="slds-required " title="required">*</abbr>Toggle Override
          </label>
          <div class="slds-form-element__control">
            <label class="slds-checkbox_toggle slds-grid slds-align_absolute-center">
              <input type="checkbox" name="checkbox" aria-describedby="toggle-desc" value="on" [(ngModel)]="myToggle.overrides" />
              <span id="toggle-desc" class="slds-checkbox_faux_container" aria-live="assertive">
                <span class="slds-checkbox_faux"></span>
              </span>
            </label>
          </div>
        </div>

      </div>
    </div>
  </div>
  <article class="slds-card services-card">

    <div class="slds-card__header">
      <header class="slds-media slds-media_center slds-has-flexi-truncate">
        <h2 class="slds-align_absolute-center slds-text-title_caps">Select connected services</h2>
      </header>
    </div>
    <div class="slds-form slds-form_horizontal services">

      <fieldset class="slds-form-element">
        <!-- <legend class="slds-form-element__legend slds-form-element__label">Select the connected services</legend> -->
        <div class="slds-form-element__control services slds-align_absolute-center">

          <button class="slds-button " *ngFor="let service of serviceList" (click)="toggleService(service.id)"  [ngClass]="isSelected(service.id) ? 'slds-button_brand' : 'slds-button_neutral'">
            <div class=  "slds-text-heading_medium">{{service.name}}</div>
            <div>{{service.version}}</div>
              
          </button>



        </div>


      </fieldset>



    </div>


  </article>



  <div class="slds-docked-form-footer">
    <button *ngIf="insert !== true" class="slds-button slds-button_destructive slds-text-title_caps delete" (click)="delete(myToggle.id)">Delete Toggle</button>
    <button type="button" class="slds-text-title_caps slds-button slds-button_neutral" (click)=cancel()>Cancel</button>
    <div>
      <button *ngIf="insert === true" type="button" class="slds-text-title_caps slds-button slds-button_brand" (click)=save(myToggle)>Insert</button>
    </div>
    <div>
      <button *ngIf="insert !== true" type="button" class="slds-text-title_caps slds-button slds-button_brand" (click)=save(myToggle)>Update</button>
    </div>
  </div>
</div>
